terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstate"
    storage_account_name = "sttfstate123"
    container_name       = "tfstate"
    key                  = "n8n-chatwoot-evolution.tfstate"
  }
}
